/*
Colors used:
Primary Color: #ff0055;
*/
header {
  background-color: #ffb7d1;
  width: 100%;
  padding: 10px 0px;
  border-bottom: 3px solid #990033;
  position: fixed;

}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #18121b;
}

footer {
  background-color: #ffb7d1;
  text-align: center;
  padding: 10px 50px;
  border: 1px solid #990033;
  position: static;
}

main {
  padding-top: 56px;
}

h1, h2, h3, h4 {
  line-height: 1.2;
}

h1 {
  font-weight: bold;
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-weight: bold;
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-weight: bold;
  font-size: 1.75em;
}

h4 {
  font-size: 1.35em;
}

a {
  color: #ff0055;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #ff0055;
}

a:hover, a:focus {
  color: #990033;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #990033;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ff0055;
  color: #f7f7f7 !important;
  /* needed to override the default link color */
  padding: 10px 15px;
  border-radius: 10px;
  border-bottom: 3px solid #18121b;
  /* width of the border, type, color */
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button:hover {
  opacity: 0.7;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #ff0055 !important;
  text-transform: lowercase;
  border: 2px solid #ff0055;
  margin-top: 5px;
}

.container {
  padding: 0 10px;
  /*max-width: 1200px;*/
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

.logo {
  max-width: 150px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.about img {
  max-width: 300px;
  border-radius: 12px;
}

.center {
  text-align: center;
}

img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0px;
}

nav>ul>li {
  font-style: italic;
}

nav>ul>li>a {
  font-size: 14px;
  padding: 0 10px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle li .icon {
  padding-right: 0;
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,0,85,1);
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

#hero {
  margin-bottom: 40px;
  text-align: center;
}

#hero h1 {
  margin-bottom: -5px;
}

#hero span {
  display: inline-block;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #18121b;
}

#project h2 {
  text-align: center;
}

#contact span {
  display: block;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 3s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation-duration: 50s;
  animation-name: cloud-move-reverse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0px 13px;
  }

  main {
    padding-top: 99px;
    padding-left: 30px;
    padding-right: 25px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 12px;
    margin: 1em 0;
  }

  nav>ul>li {
    display: inline-block;
  }

  body {
    font-size: 15px;
  }

  img {
    width: 100%;
    max-width: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #about-page h3 {
    margin-top: 0px;
  }

  .logo {
    max-width: 300px;
    display: inline;
  }

  .col-md-6 {
    width: 50%;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  [class*="col-"] {
    float: left;
    padding: 20px;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= *//*
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 20px 50px 13px;
  }

  nav>ul>li {
    padding-left: 20px;
  }

  body {
    font-size: 18px;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
*/
