/*
Colors used:
Primary Color: #ff0055;
*/
body {
  background-color: #f7f7f7;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #18121b;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-weight: bold;
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-weight: bold;
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-weight: bold;
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #ff0055;
  text-decoration: none; /* No underlining */
}
a:hover, a:focus {
  color: #990033;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:visited { /* visited link */
  color: #4d0019;
}
a:active { /* selected link */
  color: #ff0055;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ff0055;
  color: #f7f7f7 !important; /* needed to override the default link color */
  font-weight: 400 ;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  border-bottom: 3px solid #18121b; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #ff0055 !important;
  text-transform: uppercase;
  border: 2px solid #ff0055;
}
