/*
Colors used:
Primary Color: #ff0055;
*/

* {
  box-sizing: border-box;
}

header {
  background-color: #ffb7d1;
  padding: 10px 5px 15px 5px;
  margin: 0 auto;
  position: relative;
}

body {
  background-color: #f7f7f7;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #18121b;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-weight: bold;
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-weight: bold;
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-weight: bold;
  font-size: 1.75em;
}

h4 {
  font-size: 1.35em;
}

a {
  color: #ff0055;
  text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
  color: #ff0055;
}
a:hover, a:focus {
  color: #990033;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #990033;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ff0055;
  color: #f7f7f7 !important; /* needed to override the default link color */
  padding: 10px 20px;
  border-radius: 15px;
  border-bottom: 3px solid #18121b; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #ff0055 !important;
  text-transform: uppercase;
  border: 2px solid #ff0055;
}

img {
  height: auto;
}

.container {
  padding: 0 30px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#hero {
  text-align: center;
}
